@model UserRoleDto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<form>
    <div class="my-3">
        <label asp-for="Id" class="col-form-label"></label>
        <input asp-for="Id" class="form-control" readonly />
    </div>
    <div class="my-3">
        <label asp-for="userName" class="col-form-label"></label>
        <input asp-for="userName" class="form-control" readonly />
    </div>
    <div class="my-3">
        <label asp-for="FirstName" class="col-form-label"></label>
        <input asp-for="FirstName" class="form-control" readonly />
    </div>
    <div class="my-3">
        <label asp-for="LastName" class="col-form-label"></label>
        <input asp-for="LastName" class="form-control" readonly />
    </div
     <div class="my-3">
        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" readonly />
    </div>
    <div>
        <a asp-action="Index" class="btn btn-success m-5">Back To List</a>
    </div>

</form>

