@model Student
@{
    ViewData["Title"] = "Edit";
    var DeptList = new SelectList(ViewData["Depts"] as IEnumerable<Department>, "Id", "Name");
}

<h1>Edit</h1>
<form asp-action="Edit">
    <div class="my-3">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Age" class="col-form-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <select asp-for="DeptId" asp-items="DeptList">
           @*  <option>@Model.Departments?.Name</option> *@
        </select>
    </div>
    <div>
        <input type="submit" value="Update" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-success m-5">Back To List</a>
    </div>

</form>

@section ValidateData {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

